<% include header.html %>
    <h1 class="mdl-color-text--black">
        <%= title %>
    </h1>
    <div class="mdl-grname">
        <div class="mdl-cell mdl-cell--4-col">
            <form action="create" method='post'>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="from">
                    <label class="mdl-textfield__label" for="from">From</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="to">
                    <label class="mdl-textfield__label" for="to">To</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </form>
        </div>
        <div class="mdl-cell mdl-cell--4-col">

            <form action="remove">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="from2">
                    <label class="mdl-textfield__label" for="from2">From</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="to2">
                    <label class="mdl-textfield__label" for="to2">To</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </form>
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <form action="update">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="from3">
                    <label class="mdl-textfield__label" for="from3">From</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="to3">
                    <label class="mdl-textfield__label" for="to3">To</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" name="to33">
                    <label class="mdl-textfield__label" for="to33">To2</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="fa fa-plus fa-lg"></i>
                </button>
            </form>
        </div>
    </div>

    <% include footer.html %>