<!-- Home Playground Page -->

<% include header.html %>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <% include navigation.html %>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div id="card_level1" class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__menu">
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="fa fa-share mdl-color-text--white"></i>
                                </button>
                            </div>
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text mdl-color-text--teal">Level 1</h2>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--blue">
                                <ul class="mdl-list">
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                </ul>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    10 * 5 Jagged Pictorial Tiles
                                </a>

                                <a href='/rounddisplay?level=1'>
                                    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="fa fa-play mdl-color-text--white" role="presentation"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div id="card_level2" class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text mdl-color-text--teal">Level 2</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <ul class="mdl-list">
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                </ul>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    10 * 5 Square Pictorial Tiles
                                </a>

                                <a href='/rounddisplay?level=2'>
                                    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="fa fa-play mdl-color-text--white" role="presentation"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div id="card_level3" class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text mdl-color-text--teal">Level 3</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <ul class="mdl-list">
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                </ul>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    20 * 10 Voronoi Pictorial Tiles
                                </a>

                                <a href='/puzzle?level=3'>
                                    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="fa fa-play mdl-color-text--white" role="presentation"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                        <div id="card_level4" class="mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text mdl-color-text--teal">Level 4</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <ul class="mdl-list">
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                    <li class="mdl-list__item"></li>
                                </ul>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                    16 * 16 Voronoi non-Pictorial Tiles
                                </a>

                                <a href='/puzzle?level=4'>
                                    <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="fa fa-play mdl-color-text--white" role="presentation"></i>
                                    </button>
                                    </a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </main>
            <button id="customize" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">add</i>
            </button>
            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="customize">
                <li class="mdl-menu__item"><i class="fa fa-file-image-o" aria-hidden="true">More Levels Soon...</i></li>
    </div>

    <% include footer.html %>