<% include header.html %>
<div id="page-splash">
        <%- message %>
            <h2 class="mdl-color-text--white">Welcome to
                <%= title %>
            </h2>
            <h4 class="mdl-color-text--white">Crowd Jigsaw is an online game, where multiple players work together to figure out a complex jigsaw puzzle.</h4>
            &nbsp;&nbsp;&nbsp;
            <a href="/login"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin:0 auto;">登录</button></a>            &nbsp;&nbsp;&nbsp;
            <a href="/register"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="margin:0 auto;">注册</button></a>
        </div>

<% include footer.html %>