<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><%= title %></span>
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                    <i class="material-icons mdl-color-text--white" role="presentation">extension</i>
        </button>
            <a class="mdl-navigation__link" href="">Account Settings</a>
            <a class="mdl-navigation__link" href="">Personal Records</a>
            <a class="mdl-navigation__link" href="/rank">Ranks</a>
            <a href='/logout'><button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                    <i class="material-icons mdl-color-text--white" role="presentation">exit_to_app</i>
        </button></a>
        </nav>
    </div>
</header>