<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <%= title %>
        </span>
        <div class="mdl-layout-spacer"></div>
        
        <nav class="mdl-navigation  mdl-layout--large-screen-only">
            <!-- 
            <a class="mdl-navigation__link" href="/home">Playground</a>
            <a class="mdl-navigation__link" href="/settings">Account Settings</a>
            <a class="mdl-navigation__link" href="/records">Personal Records</a>
            <a class="mdl-navigation__link" href="/rank">Ranks</a>-->
            <a href='/logout'>
                <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent" id="fuck">
                    <i class="fa fa-sign-out fa-lg mdl-color-text--white"></i>
                </button>
            </a>
        </nav>
    </div> 
</header>

<div class="nav-drawer mdl-layout__drawer">
    <header class="nav-header mdl-layout-title">
        <div class="userinfo mdl-typography--text-center">
            <img class="avatar" src="images/placeholder.jpg">
            <br />
            <span class="username">
                <%= username %>
            </span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <nav class="navigation mdl-navigation">
        <a class="mdl-navigation__link" href="/home">
            <i class="fa fa-gamepad fa-lg"></i>&nbsp;&nbsp;Playground</a>
        <a class="mdl-navigation__link" href="/settings">
            <i class="fa fa-gears fa-lg"></i>&nbsp;&nbsp;Account Settings</a>
        <a class="mdl-navigation__link" href="/records">
            <i class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;Personal Records</a>
        <a class="mdl-navigation__link" href="/rank">
            <i class="fa fa-bar-chart fa-lg"></i>&nbsp;&nbsp;Ranks</a>
        <a class="mdl-navigation__link" href="/logout">
            <i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Sign Out</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href="/help">
            <i class="fa fa-question-circle fa-lg"></i>&nbsp;&nbsp;Help</span>
        </a>
    </nav>
    <footer class="mdl-mega-footer mdl-color--white">
        <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--right-section">
            </div>
        </div>

        <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--subhead">Crowd Jigsaw Puzzle</p>
            <p class="mdl-typography--subhead">Powered By @PKU</p>
            <a class="mdl-typography--font-light" href="https://github.com/Symbolk/CrowdJigsaw">
                Github:
                <i class="fa fa-github fa-lg fa-spin fa-fw"></i>
            </a>
            <!-- JiaThis Button BEGIN -->
            <div class="mdl-typography--font-light">Share TO:</div>
            <div class="jiathis_style_32x32">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_weixin"></a>
                <!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a> -->
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
    </footer>
</div>