<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Playground</span>
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation  mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">Playground</a>
            <a class="mdl-navigation__link" href="">Account Settings</a>
            <a class="mdl-navigation__link" href="">Personal Records</a>
            <a class="mdl-navigation__link" href="/rank">Ranks</a>
            <a href='/logout'><button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="material-icons mdl-color-text--white" role="presentation">exit_to_app</i>
                            </button></a>
        </nav>
    </div>
</header>

<div class="demo-drawer mdl-layout__drawer">
    <header class="demo-drawer-header mdl-layout-title">
        <img src="images/placeholder.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
    </header>
    <nav class="demo-navigation mdl-navigation">
        <a class="mdl-navigation__link" href="/home"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">extension</i>Playground</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">art_track</i>Account Settings</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_add_check</i>Personal Records</a>
        <a class="mdl-navigation__link" href="/rank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">list</i>Ranks</a>
        <a class="mdl-navigation__link" href="/logout"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">exit_to_app</i>Sign Out</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Help</span></a>
    </nav>
    <footer class="mdl-mega-footer mdl-color--white">
            <div class="mdl-mega-footer--top-section">
              <div class="mdl-mega-footer--right-section">
                <a class="mdl-typography--font-light" href="#top">
                  Back to Top
                  <i class="material-icons">airplanemode_active</i>
                </a>
                <p class="mdl-typography--font-light">Crowd Jigsaw Puzzle</p>
                <p class="mdl-typography--font-light">Powered By @PKU</p>
              </div>
            </div>
  
            <div class="mdl-mega-footer--middle-section">

            </div>
          </footer>
    </div>

