<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><%= title %></span>
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation  mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/home">Playground</a>
            <a class="mdl-navigation__link" href="/settings">Account Settings</a>
            <a class="mdl-navigation__link" href="/records">Personal Records</a>
            <a class="mdl-navigation__link" href="/rank">Ranks</a>
            <a href='/logout'><button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
                                        <i class="fa fa-sign-out fa-lg mdl-color-text--white"></i>
                            </button></a>
        </nav>
    </div>
</header>

<div id="nav-drawer" class="mdl-layout__drawer">
    <header class="demo-drawer-header mdl-layout-title">
        <img src="images/placeholder.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
    </header>
    <nav class="demo-navigation mdl-navigation">
        <a class="mdl-navigation__link" href="/home"><i class="fa fa-gamepad fa-lg"></i>&nbsp;&nbsp;Playground</a>
        <a class="mdl-navigation__link" href="/settings"><i class="fa fa-gears fa-lg"></i>&nbsp;&nbsp;Account Settings</a>
        <a class="mdl-navigation__link" href="/records"><i class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;Personal Records</a>
        <a class="mdl-navigation__link" href="/rank"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;&nbsp;Ranks</a>
        <a class="mdl-navigation__link" href="/logout"><i class="fa fa-sign-out fa-lg"></i>&nbsp;&nbsp;Sign Out</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="fa fa-question-circle fa-lg"></i>&nbsp;&nbsp;Help</span></a>
    </nav>
    <footer class="mdl-mega-footer mdl-color--white">
            <div class="mdl-mega-footer--top-section">
              <div class="mdl-mega-footer--right-section">
                <a class="mdl-typography--font-light" href="#top">
                  Back to Top
                  <i class="fa fa-github fa-lg"></i>
                </a>
                <p class="mdl-typography--font-light">Crowd Jigsaw Puzzle</p>
                <p class="mdl-typography--font-light">Powered By @PKU</p>
              </div>
            </div>
  
            <div class="mdl-mega-footer--middle-section">

            </div>
          </footer>
    </div>

