<dialog class="mdl-dialog" id="newround_dialog">
    <div class="mdl-dialog__content">
      <h5 class="mdl-dialog__title">New Round</h4>
      <br>
      <form>
        <b>Select a Picture</b>
        <br>
        <img class="article-image" id="newround_image" src="images/add.png" border="0" alt="">
        <br>
        <p id="newround_preview">Preview</p>
        <br>
        <b>Select Number of Players: </b>
        <select id="newround_number">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </form>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
      <button type="button" class="mdl-button" id="newround_createbutton">Create</button>
      <button type="button" class="mdl-button" id="newround_cancelbutton">Cancel</button>
    </div>
</dialog>