<dialog class="mdl-dialog" id="newround_dialog">
    <div class="mdl-dialog__content">
      <form>
        <!-- Flat button with ripple -->
        <div class="mdl-button mdl-js-button mdl-js-ripple-effect" id="newround_image_button">
            <b>Select Picture</b>
        </div>
        <div class="newround_image_wrap">
          <img class="article-image" id="newround_image" border="0" alt="">  
        </div>
          
        <div id="newround_blank">
          <br><br>
        </div>

        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
            <input class="mdl-textfield__input" type="text" id="newround_level" value="1" readonly tabIndex="-1">
            <label for="newround_level">
                <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
            </label>
            <label for="newround_level" class="mdl-textfield__label">Level</label>
            <ul for="newround_level" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                <li class="mdl-menu__item" data-val="One">1</li>
                <li class="mdl-menu__item" data-val="Two">2</li>
            </ul>
        </div> -->
        <table class="mdl-data-table" id="newround_table">
          <tbody>
            <tr id="shape_radio">
              <td class="mdl-data-table__cell--non-numeric">
                <label class = "mdl-radio mdl-js-radio mdl-js-ripple-effect" 
                    for = "option2">
                    <input type = "radio" id = "option2" name = "shape" 
                       class = "mdl-radio__button newround-shape-jagged" checked>
                    <span class = "mdl-radio__label">
                      <img height="100%" width="height" src="/images/jagged.jpg">
                    </span>
                 </label>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <label class = "mdl-radio mdl-js-radio" for = "option1">
                    <input type = "radio" id = "option1" name = "shape" 
                       class = "mdl-radio__button newround-shape-square">
                    <span class = "mdl-radio__label">
                      <img height="100%" width="height" src="/images/square.jpg">
                    </span>
                 </label>
              </td>
            </tr>
            <tr id="egde_checkbox_row">
              <td class="mdl-data-table__cell--non-numeric" id="border_checkbox_column"> 
                <label class = "mdl-checkbox mdl-js-checkbox">
                   <input type = "checkbox" id = "border_checkbox" 
                      class = "mdl-checkbox__input" checked>
                   <span class = "mdl-checkbox__label">Border</span>
                </label>
             </td>
              <td class="mdl-data-table__cell--non-numeric" id="egde_checkbox_column"> 
                 <label class = "mdl-checkbox mdl-js-checkbox">
                    <input type = "checkbox" id = "egde_checkbox" 
                       class = "mdl-checkbox__input" checked>
                    <span class = "mdl-checkbox__label">Edge</span>
                 </label>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div id="newround_num_area">
          <b id="newround_num_text">Players Number: </b>
          <b id="newround_num">1</b>
        </div>
        <input class="mdl-slider mdl-js-slider" id="newround_number_slider" type="range" min="1" max="20" value="1">
      </form>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="newround_createbutton">Create</button>
      <button type="button" class="cancel_button mdl-button mdl-js-button mdl-button--raised" id="newround_cancelbutton">Cancel</button>
    </div>
</dialog>