<div class="modal fade" id="newroundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Create New Round</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Flat button with ripple -->
                    <div id="select_img_div">
                        <div>
                            <button type="button" class="button button-glow button-border button-rounded button-primary" id="newround_image_button">
                                <b>Select Picture</b>
                            </button>
                        </div>
                        <div id="newround_image_wrap">
                            <img class="article-image" id="newround_image" border="0" alt="">
                        </div>
                    </div>

                    <table class="table" id="newround_table">
                        <tbody>
                            <tr id="shape_radio">
                                <td>
                                    <div class="radio icheck-emerland">
                                        <input type="radio" checked id="option2" name="shape" class="newround-shape-jagged" />
                                        <label for="option2">
                                            <img height="25px" width="height" src="/images/jagged.jpg">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="radio icheck-amethyst">
                                        <input type="radio" id="option1" name="shape" class="newround-shape-square" />
                                        <label for="option1">
                                            <img height="25px" width="height" src="/images/square.jpg">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr id="egde_checkbox_row">
                                <td id="border_checkbox_column">
                                    <div class="checkbox icheck-greensea">
                                        <input type="checkbox" checked id="border_checkbox" />
                                        <label for="border_checkbox">Border</label>
                                    </div>
                                </td>
                                <td id="egde_checkbox_column">
                                    <div class="checkbox icheck-orange">
                                        <input type="checkbox" id="egde_checkbox" />
                                        <label for="egde_checkbox">Edge</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div id="player_num_div">
                        <div id="newround_num_area">
                            <b id="newround_num_text">Players Number: </b>
                        </div>
                        <input id="newround_number_slider" data-slider-id="ex1Slider" type="text" data-slider-min="1" data-slider-max="50" data-slider-step="1"
                            data-slider-value="1" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-pill button-small" id="newround_cancelbutton" data-dismiss="modal">Cancel</button>
                <button type="button" class="button button-pill button-primary button-small" id="newround_createbutton" data-dismiss="modal">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>