
<div class="demo-layout-transparent mdl-layout mdl-js-layout">

  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <img width="25" height="25" id="show-user" src="images/user.png" class="user" />
      <img width="25" height="25" src="images/help.png" class="help" />
      <img width="25" height="25" src="images/zoomout.png" class="zoomOut" />
      <img width="25" height="25" src="images/zoomin.png" class="zoomIn" />
      <img width="25" height="25" src="images/restart.png" class="restart" />
      <img width="25" height="25" id="show-settings" src="images/settings.png" class="settings" />
      <span id="steps_chip" class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">S</span>
        <span id="steps" class="mdl-chip__text">0</span>
        <button type="button" class="mdl-chip__action" id="stepButton"><i class="material-icons">cancel</i></button>
      </span>
      <span id="timer_chip" class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">T</span>
        <span id="timer" class="mdl-chip__text">00:00:00</span>
        <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
      </span>

    </nav>
  </div>
</div>