<% include header2.html %>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap-table.min.js"></script>
<div id="thanks">
    <h2>感谢大家一学期的参与</h2>
    <h4>进行拼图游戏，可访问<a href="pintu.fun">pintu.fun</a></h4>
</div>
<div id="user_score_table">
    <h3>各同学得分</h3>
    <table data-toggle="table">
        <thead>
            <tr>
                <th data-field="username" data-halign="center" data-align="center">Player Name</th>
                <th data-field="score" data-halign="center" data-align="center" data-sortable="true">Score</th>
            </tr>
        </thead>
        <tbody>
            <% final_user_score.forEach(function(u){ %>
                <tr>
                    <td>
                        <span>
                            <%- u.username %>
                        </span>
                    </td>
                    <td>
                        <span>
                            <%- u.score %>
                        </span>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div id="class_score_table">
    <h3>各班级(学号前7位)得分</h3>
    <table data-toggle="table">
        <thead>
            <tr>
                <th data-field="class_id" data-halign="center" data-align="center">Player Name</th>
                <th data-field="score" data-halign="center" data-align="center" data-sortable="true">Score</th>
            </tr>
        </thead>
        <tbody>
            <% final_class_score.forEach(function(u){ %>
                <tr>
                    <td>
                        <span>
                            <%- u.class_id %>
                        </span>
                    </td>
                    <td>
                        <span>
                            <%- u.score %>
                        </span>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
    <script>
        var username = "<%=username%>";
        var admin = "<%=admin%>";
        admin = admin === "true"? true: false;
        var multiPlayer = "<%=multiPlayer%>";
        var multiPlayerServer = "<%=multiPlayerServer%>";
        var singlePlayerServer = "<%=singlePlayerServer%>";
        var normalPlayerCreateRound = "<%=normalPlayerCreateRound%>";
        var final_class_score = "<%=final_class_score%>";
        var final_user_score = "<%=final_user_score%>";
        var final_show_flag = "<%=final_show_flag%>";
        console.log(final_show_flag);
        normalPlayerCreateRound = normalPlayerCreateRound === "true"? true: false;
    </script>
    <!-- Content W  rapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Playground
                <small>Here you can find all joinable rounds, or create your own one.</small>
                <a id="rules" data-toggle="control-sidebar" class="button button-3d button-border button-rounded button-primary">计分规则</a>
                <a id="after_class_rules" data-toggle="control-sidebar" class="button button-3d button-border button-rounded button-primary">课后得分规则</a>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> CJP </a>
                </li>
                <li class="active">Playground</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" id="round_content">

            <div class="row col-lg-4" id="round_list"></div>
                <% if(true){%>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="widget-user-header bg-aqua-active">
                                <% if(admin){%>
                                <h3 class="widget-user-username">New Round</h3>
                                <%}else{%>
                                <h3 class="widget-user-username">Random Round</h3>
                                <%}%>       
                                <h5 class="widget-user-desc">Create One!</h5>
                            </div>
                            <div class="widget-user-image" id="newround_button">
                                <span class="button-wrap">
                                    <button class="button button-3d button-action button-circle button-jumbo" data-toggle="modal" data-target="#newroundModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                                <!-- <img class="img-circle" src="/images/new.png" style="background-color: white" alt="User Avatar"> -->
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-6 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">4x4-10x10</h5>
                                            <span class="description-text">Size</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-6 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">1-50</h5>
                                            <span class="description-text">Players</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                    <%}
      else{%>           
                        <div class="col-md-4 col-sm-6 col-xs-12 random-game-card" >
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">Random Game</h3>
                                    <h5 class="widget-user-desc">Just Try!</h5>
                                </div>
                                <div class="widget-user-image randomround_button">
                                    <span class="button-wrap">
                                        <button class="button button-3d button-action button-circle button-jumbo" data-toggle="modal" data-target="#newroundModal">
                                            <i class="fa fa-random"></i>
                                        </button>
                                    </span>
                                    <!-- <img class="img-circle" src="/images/random.png" style="background-color: white" alt="User Avatar"> -->
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">1/2</h5>
                                                <span class="description-text">Level</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 border-right">
                                            <div class="description-block">
                                                <h5 class="description-header">1</h5>
                                                <span class="description-text">Players</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4">
                                            <div class="description-block">
                                                <h5 class="description-header">S/J</h5>
                                                <span class="description-text">Shape</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <%} %>
                
            </div>
            <% include newround1.html %>
            <% include roundcard.html %>
                <% include rounddetail1.html %>
                    <% if(admin==true){%>
                        <% include roundimageselector.html %>
                    <% } %>
                            <% include roundimageshower.html %>
    <!-- /.content-wrapper -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-slider.min.js"></script>

    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/playground.js"></script>
    </section>
<!-- /.content -->
</div>
    <% if(admin!=true){%>
        <% include roundimageselector.html %>
    <% } %>
    <% include toast.html %>
        <% include footer2.html %>
        <!-- The Right Sidebar -->
                <aside class="control-sidebar control-sidebar-light">
                  <!-- Content of the sidebar goes here -->
                </aside>
                <!-- The sidebar's background -->
                <!-- This div must placed right after the sidebar for it to work-->
                <div class="control-sidebar-bg">
                    <span></span>
                    <br><br><br><br>
                    <table class="table" id="rules_table">
                      <tbody>
                        <tr>
                          <td>初始得分：0</td>
                        </tr>
                        <tr>
                            <td>点击分享信息后开始计分</td>
                        </tr>
                        <tr>
                          <td>拼上正确的一块：+3</td>
                        </tr>
                        <tr>
                          <td>拆掉正确的一块：-6</td>
                        </tr>
                        <tr>
                          <td>拼上错误的一块：-3</td>
                        </tr>
                        <tr>
                          <td>拆掉错误的一块：+3</td>
                        </tr>
                        <tr>
                          <td>拆掉推荐中错误的一块：+6</td>
                        </tr>
                        <tr>
                          <td>有人完成拼图后停止统计</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table" id="after_class_rules_table">
                      <tbody>
                        <tr>
                          <td>课后进行拼图游戏可得分</td>
                        </tr>
                        <tr>
                            <td>课后得分记录在左侧“After Class Score”中</td>
                        </tr>
                        <tr>
                          <td>游戏得分参考拼图参与人数，拼图大小</td>
                        </tr>
                        <tr>
                          <td>得分= 10 * 拼图人数 * （拼图大小 - 5）/ 5</td>
                        </tr>
                        <tr>
                          <td>游戏创建者可得1.5倍得分</td>
                        </tr>
                        <tr>
                          <td>即单人开10*10的拼图，得分为15分</td>
                        </tr>
                        <tr>
                          <td>多人开10*10的拼图，每人得分与拼图参与人数成正比</td>
                        </tr>
                        <tr>
                          <td>有人完成拼图后该局有效</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
<script type="text/javascript">
    if (final_show_flag === 'true') {
        $('#user_score_table').css('display', 'block');
        $('#class_score_table').css('display', 'block');
        $('#thanks').css('display', 'block');
        $('#round_content').css('display', 'none');
    }
</script>
