<link rel='stylesheet' href='/stylesheets/jigsaw.css' />
<script type="text/javascript" src="/javascripts/paper-full.js"></script>
<script type="text/paperscript" canvas="canvas" src="/javascripts/jigsaw_l3.js"></script>


<% include header.html %>
    <% include drawer.html %>
        <dialog class="mdl-dialog" id="ensure_quit_dialog">
            <div class="mdl-dialog__content">
                <p>
                    Are You Sure?
                    <i class="fa fa-sign-out fa-lg"></i>
                </p>

                <div class="mdl-dialog__actions mdl-card--border">
                    <button type="button" class="mdl-button" id="cancel-button">Cancel</button>
                    <button type="button" class="mdl-button" id="apply-button">Apply</button>
                </div>
            </div>
        </dialog>

        <div class="solution">
            <img width="512" height="512" id="puzzle-image" class="puzzle-image" style="display: none;" src="images/cat.jpg" />
            <img width="128" height="128" id="empty" style="display: none;" src="images/empty.png" />
        </div>

        <main class="puzzle">
            <canvas id="canvas" class="canvas" resize></canvas>
        </main>
        <% include footer.html %>