<!-- Player Ranks Page -->
<% include header.html %>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        <% include navigation.html %>

            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col"></div>
                    <div class="mdl-cell mdl-cell--4-col">
                            <br/>
                        <h2 class="mdl-color-text-black">Players Rank</h2>
                        <div class="demo-list-action mdl-list">
                            <div class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <span>Rank</span>
                                </span>
                                <span class="mdl-list__item-primary-content">
                                    <span>Avatar</span>
                                </span>
                                <span class="mdl-list__item-primary-content">
                                    <span>Username</span>
                                </span>
                                <span class="mdl-list__item-primary-content">
                                    <span>ThumbsUp!</span>
                                </span>
                            </div>
                            <% Allusers.forEach(function(u){ %>
                                <div class="mdl-list__item">
                                    <span class="mdl-list__item-primary-content">
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.rank %>
                                            </span>
                                            <%}
                                        else{%>
                                                <span>
                                                    <%- u.rank %>
                                                </span>
                                                <%} %>
                                    </span>
                                    <span class="mdl-list__item-primary-content">
                                        <img class="mdl-list__item-avatar" src="images/placeholder.jpg">
                                        <% if(u.username===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.username %>
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.username %>
                                                </span>
                                                <%} %>

                                    </span>
                                    <a class="mdl-list__item-secondary-action" href="#">
                                        <i class="fa fa-thumbs-up mdl-list__item-icon"></i>
                                    </a>
                                </div>
                                <%  })%>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col"></div>
                    </div>
            </main>
            </div>
            <% include footer.html %>