<% include header.html %>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <% include navigation.html %>
            
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--4-col">

                    <h2 class="mdl-color-text-black">User Rank</h2>
                    <div class="demo-list-action mdl-list">
                        <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bryan Cranston</span>
                            </span>
                            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                        </div>
                        <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Aaron Paul</span>
                            </span>
                            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                        </div>
                        <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bob Odenkirk</span>
                            </span>
                            <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                        </span>
                        </div>
                    </div>


                    <table class="fuzq_home_manage_table">
                        <tr>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                        <% Allusers.forEach(function(u){
                                            if(u.username===user.username){%>
                            <tr>
                                <td style="color:#3c3;">
                                    <%-u.username%>
                                </td>
                                <td>
                                    <span style="color:#3c3;">当前用户</span>
                                </td>
                            </tr>
                            <%}
                                            else{%>
                                <tr>
                                    <td>
                                        <%-u.username%>
                                    </td>
                                    <td>
                                        <span><a href="/delete/<%-u.username%>">删除</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/resetPwd/<%-u.username%>">重置密码</a></span>
                                    </td>
                                </tr>
                                <%}
                                        })%>
                    </table>
                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
        </main>
    </div>
    <% include footer.html %>