<!-- Personal Records Page -->
<% include header.html %>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
                <% include navigation.html %>

                        <div class="col-md-offset-4">
                                <br/>
                                <h2 class="mdl-color-text-black">
                                        <%= username %>'s Records</h2>
                                <br/>
                                <br/>
                                <div class="mdl-grid">
                                        <table id="records" data-toggle="table" data-detail-view="true" data-search="true" data-show-refresh="true" data-show-toggle="true"
                                                data-show-columns="true">
                                                <thead>
                                                        <tr>
                                                                <th data-field="round_id" data-halign="center" data-align="center">Round ID</th>
                                                                <th data-field="when" data-halign="center" data-align="center" data-sortable="true">When</th>
                                                                <th data-field="steps" data-halign="center" data-align="center" data-sortable="true">Steps</th>
                                                                <th data-field="time" data-halign="center" data-align="center" data-sortable="true">Time</th>
                                                                <th data-field="contribution" data-halign="center" data-align="center" data-sortable="true">Contribution</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <% Allrecords.forEach(function(r){ %>
                                                                <tr>
                                                                        <td>
                                                                                <%- r.round_id %>
                                                                        </td>
                                                                        <td>
                                                                                <%- r.start_time %>
                                                                        </td>
                                                                        <td>
                                                                                <%- r.steps %>
                                                                        </td>
                                                                        <td>
                                                                                <%- r.time %>
                                                                        </td>
                                                                        <td>
                                                                                <%- r.contribution %>
                                                                        </td>
                                                                </tr>
                                                                <% }) %>

                                                </tbody>
                                        </table>
                                        <br />
                                        <br />
                                        <!-- <button class="mdl-button mdl-js-button mdl-typography--button-center mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                                                style="align-self:center;" id="share" name="share">Share</button> -->
                                </div>
                        </div>
        </div>
        <% include footer.html %>
                <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
                <script src="/javascripts/bootstrap-table.min.js"></script>
                <script type="text/javascript">
                        /**
                         * Show detailed records
                         */
                        var $table = $("#records");
                        $table.bootstrapTable({
                                onExpandRow: function (index, row, $detail) {
                                        showDetails($detail, row.round_id);
                                }
                        });


                        function showDetails($detail, round_id) {
                                var $el = $detail.html('<table></table>').find('table');
                                // get the data from ajax
                                $.ajax({
                                        url: requrl + 'round' + '/getRoundDetails/' + round_id,
                                        type: 'get',
                                        dataType: 'json',
                                        cache: false,
                                        timeout: 5000,
                                        success: function (data) {
                                                console.log(data);
                                                var columns=[], rowdata=[];
                                                for(var key in data){
                                                        columns.push({
                                                                field: key,
                                                                title: key
                                                        });
                                                
                                                }
                                                rowdata.push(data);
                                                $el.bootstrapTable({
                                                        columns: columns,
                                                        data: rowdata
                                                });
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                                console.log('error ' + textStatus + " " + errorThrown);
                                        }
                                });
                        }    
                </script>