<dialog class="mdl-dialog" id="selectimage_dialog">
    <div class="mdl-dialog__content">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__content">
                <div class="mdl-grid" id="selectimage_table">
                </div>
            </div>
        </div>
    </div>
</dialog>

<div id="selectimage_template" style="display: none;">
    <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
        <div class="mdl-card__media">
        </div>
    </div>
</div>

<script type="text/javascript">
    var puzzleImageSrcList = new Array();
    puzzleImageSrcList.push("images/pic0.jpg");
    puzzleImageSrcList.push("images/keyboard_thumb.jpg");
    puzzleImageSrcList.push("images/pencil_thumb.jpg");
    puzzleImageSrcList.push("images/pencil2_thumb.jpg");
    puzzleImageSrcList.push("images/pencil3_thumb.jpg");
    puzzleImageSrcList.push("images/huaji_thumb.jpg");
    puzzleImageSrcList.push("images/funny_thumb.jpg");
    puzzleImageSrcList.push("images/snow_thumb.jpg");
    puzzleImageSrcList.push("images/oranges_thumb.jpg");            
    puzzleImageSrcList.push("images/china_thumb.jpg");
    puzzleImageSrcList.push("images/coco_thumb.jpg");
    puzzleImageSrcList.push("images/coco2_thumb.jpg");
    puzzleImageSrcList.push("images/coco3_thumb.jpg");
    puzzleImageSrcList.push("images/diamonds_thumb.jpg");
    
</script>