<div class="modal fade" id="rounddetail_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog rounddetail_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Room</h4>
            </div>
            <div class="modal-body">
                <div id="rounddetail_id" style="display: none;"></div>

                <div class="progress  progress-striped active rounddetail-progress">
                    <div id="rounddetail_progress" class="progress-bar progress-bar-success" role="progressbar"></div>
                </div>

                <div id = "players_list">
                    <b>Players List</b>
                    <ul class="mdl-list" id="rounddetail_playerlist"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-pill button-small cancel_button" id="rounddetail_cancelbutton" data-dismiss="modal">Cancel</button>
                <button type="button" class="button button-pill button-primary button-small" id="rounddetail_joinbutton">Join</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="rounddetail_li_template">
    <li>
        <span class="player-name">
        </span>
    </li>
</div>