<% include header2.html %>
<script type="text/javascript">
    var round_id = '<%-round_id-%>';
</script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap-table.min.js"></script>
<script src="/javascripts/echarts.common.min.js"></script>
<script src="/javascripts/roundrank.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rank of Round
                <%= round_id %>
                    <small>Here you can see the rank of the round you just played in.</small>
            </h1>
        </section>

        <div id="progress" style="width:100%;height:400px;display:none;"></div>
        <div id="precision" style="width:100%;height:400px;display:none;"></div>
        <div id="score" style="width:100%;height:400px;display:none;"></div>
        <div id="links" style="width:100%;height:400px;display:none;"></div>

        <!-- Main content -->
        <section class="content container-fluid">

            <table id="round_rank_table" data-toggle="table" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-columns="true">
                <thead>
                    <tr>
                        <th data-field="ifSolved" data-halign="center" data-align="center">Done?</th>
                        <th data-field="rank" data-halign="center" data-align="center" data-sortable="true">Rank</th>
                        <th data-field="username" data-halign="center" data-align="center">Player Name</th>
                        <th data-field="time" data-halign="center" data-align="center" data-sortable="true">Time Cost</th>
                        <th data-field="steps" data-halign="center" data-align="center" data-sortable="true">Steps</th>
                        <th data-field="finish_percent" data-halign="center" data-align="center" data-sortable="true">Finish Percent</th>
                        <th data-field="hint_percent" data-halign="center" data-align="center" data-sortable="true">Hint Ratio</th>
                        <th data-field="correct_hint_percent" data-halign="center" data-align="center" data-sortable="true">Hint Precision</th>
                        <th data-field="rating" data-halign="center" data-align="center" data-sortable="true">Rating</th>
                        <th data-field="score" data-halign="center" data-align="center" data-sortable="true">Score</th>
                        <th data-halign="center" data-align="center" data-sortable="true">Detail</th>
                    </tr>
                </thead>
                <tbody>
                    <% locals.r = 0; %>
                        <% Finished.forEach(function(u){ %>
                            <tr>
                                <% locals.r++  %>
                                    <td>
                                        <i class="fa fa-check"></i>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%= locals.r  %>
                                            </span>
                                            <%}
                                                else{%>
                                                <span>
                                                    <%= locals.r %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.playername %>
                                            </span>
                                            <%}
                                                            else{%>
                                                <span>
                                                    <%- u.playername %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.time %>
                                            </span>
                                            <%}
                                                            else{%>
                                                <span>
                                                    <%- u.time %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.steps %>
                                            </span>
                                            <%}
                                                            else{%>
                                                <span>
                                                    <%- u.steps %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.finishPercent %>%
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.finishPercent %>%
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.hintPercent %>%
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.hintPercent %>%
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.correctPercent %>%
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.correctPercent %>%
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.rating %>
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.rating %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <% if(u.playername===user.username){%>
                                            <span style="color:#3c3;">
                                                <%- u.score %>
                                            </span>
                                            <%}
                                                    else{%>
                                                <span>
                                                    <%- u.score %>
                                                </span>
                                                <%} %>
                                    </td>
                                    <td>
                                        <a href="#score" onclick="renderDetail('<%-u.playername-%>')">detail</a>
                                    </td>
                            </tr>
                            <% }) %>
                                <% Unfinished.forEach(function(u){ %>
                                    <tr>
                                        <% locals.r++  %>
                                            <td>
                                                <i class="fa fa-remove"></i>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%= locals.r  %>
                                                    </span>
                                                    <%}
                        else{%>
                                                        <span>
                                                            <%= locals.r %>
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.playername %>
                                                    </span>
                                                    <%}
                                    else{%>
                                                        <span>
                                                            <%- u.playername %>
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.time %>
                                                    </span>
                                                    <%}
                                        else{%>
                                                        <span>
                                                            <%- u.time %>
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.steps %>
                                                    </span>
                                                    <%}
                                            else{%>
                                                        <span>
                                                            <%- u.steps %>
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.finishPercent %>%
                                                    </span>
                                                    <%}
                                                            else{%>
                                                        <span>
                                                            <%- u.finishPercent %>%
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.hintPercent %>%
                                                    </span>
                                                    <%}
                                                            else{%>
                                                        <span>
                                                            <%- u.hintPercent %>%
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.correctPercent %>%
                                                    </span>
                                                    <%}
                                                            else{%>
                                                        <span>
                                                            <%- u.correctPercent %>%
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                                <% if(u.playername===user.username){%>
                                                    <span style="color:#3c3;">
                                                        <%- u.rating %>
                                                    </span>
                                                    <%}
                                                            else{%>
                                                        <span>
                                                            <%- u.rating %>
                                                        </span>
                                                        <%} %>
                                            </td>
                                            <td>
                                            <% if(u.playername===user.username){%>
                                                <span style="color:#3c3;">
                                                    <%- u.score %>
                                                </span>
                                                <%}
                                                        else{%>
                                                    <span>
                                                        <%- u.score %>
                                                    </span>
                                                    <%} %>
                                        </td>
                                        <td>
                                            <a href="#score" onclick="renderDetail('<%-u.playername-%>')">detail</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                </tbody>
            </table>
        </section>
        <!-- /.content -->
    </div>
    <script type="text/javascript">
        let endTime = ((hms) => {
            let [h, m, s] = hms.split(':');
            return parseInt(h) * 3600 + parseInt(m) * 60 + parseInt(s);
        })('<%-endTime%>');
        console.log('<%-endTime%>', endTime);
        getProgress(endTime);
    </script>
    <% include footer2.html %>