<dialog class="mdl-dialog" id="selectimage_dialog">
    <div class="mdl-dialog__content">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <div class="mdl-layout__content">
              <div class="mdl-grid">
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                    <div class="mdl-card__media">
                        <img class="article-image selector-image" src="images/minions.jpg" style="display: inline-block; vertical-align: middle;">
                    </div>
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"></div>
                  </div>
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                    <div class="mdl-card__media">
                        <img class="article-image selector-image" src="images/china.jpg">
                    </div>
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"></div>
                  </div>
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                    <div class="mdl-card__media">
                        <img class="article-image selector-image" src="images/pic0.jpg">
                    </div>
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"></div>
                  </div>
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                    <div class="mdl-card__media">
                        <img class="article-image selector-image" src="images/coco2.jpg">
                    </div>
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"></div>
                  </div>
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                    <div class="mdl-card__media">
                        <img class="article-image selector-image" src="images/coco.jpeg">
                    </div>
                    <div class="mdl-card__title mdl-card--expand"></div>
                    <div class="mdl-card__actions"></div>
                  </div>
                  <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
                        <div class="mdl-card__media">
                            <img class="article-image selector-image" src="images/coco3.jpg">
                        </div>
                        <div class="mdl-card__title mdl-card--expand"></div>
                        <div class="mdl-card__actions"></div>
                      </div>
              </div>
          </div>
      </div>
    </div>
</dialog>