<dialog class="mdl-dialog" id="rounddetail_dialog">
    <div class="mdl-dialog__content">
      <h4 class="mdl-dialog__title">Details</h4>
      <br>
      <img class="article-image" id="rounddetail_image" src=" images/cat.jpg" border="0" alt="">
      <br>
      <p id="rounddetail_preview">Preview</p>
      <br>
      <b>Author: </b><p id="rounddetail_author">Jack Ma</p>
      <b>Waiting Players: </b><p id="rounddetail_playernum">9/10</p>
      <br><br>
      <p>Join this round?</p>
    </div>
    <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
      <button type="button" class="mdl-button" id="rounddetail_joinbutton">Join</button>
      <button type="button" class="mdl-button" id="rounddetail_cancelbutton">Cancel</button>
    </div>
</dialog>