<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Playground</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-blue.min.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/display.css" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- <link rel="icon" sizes="192x192" href="/images/logo.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!-- <link rel="apple-touch-icon-precomposed" href="/images/logo.png"> -->


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dialog-polyfill.css" />
    <link rel="stylesheet" href="/stylesheets/buttons.css">

</head>

<body>
    <script>
        var username = "<%=username%>";
        var admin = "<%=admin%>";
    </script>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">

        <% include navigation.html %>
            <main class="mdl-layout__content">
                <div class="mdl-grid portfolio-max-width" id="round_list">
                    <% if(admin==true){%>
                        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card newround-card" id="newround_button">
                            <!-- <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text roundcard-title"></h2>
                            </div> -->
                            <span class="button-wrap" style="position: absolute;top: 50%;left:20%;transform: translateY(-50%);">
                                <button class="button button-circle button-raised button-primary">
                                    <i class="fa fa-plus"></i>
                                </button>
                                New Round
                            </span>
                        </div>
                        <%}%>
                </div>
            </main>
            <% include rounddetail.html %>
                <% include newround.html %>
                    <% include roundimageselector.html %>
                        <% include roundimageshower.html %>
                            <% include roundcard.html %>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js" defer defer></script>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js" defer></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/main.js" defer></script>
    <script src="/javascripts/dialog-polyfill.js" defer></script>
    <!-- <script src="/javascripts/bootstrap-table.min.js" defer></script> -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
    <script type="text/javascript" src="/javascripts/rounddisplay.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="200" src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

    <% include toast.html %>

</body>

</html>