    <title>RoundDisplay</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="/stylesheets/display.css" />
<% include header.html %>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/cat.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Round1</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        9/10
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="rounddisplay_join" name="5">Join Now</a>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
    <% include rounddetail.html %>
    <% include newround.html %>
    <% include roundimageselector.html %>
    <% include roundimageshower.html %>
<% include footer.html %>
<script type="text/javascript" src="/javascripts/rounddisplay.js"></script>