<div class="col-lg-4 col-md-4 col-sm-6 col-xs-4">
    <div id="roundcard_template">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header roundcard-image" style="background: url('/images/new.png') center center;">
                <h3 class="widget-user-username roundcard-title">Round 1</h3>
                <h5 class="widget-user-desc">Come &amp; Play!</h5>
            </div>
            <div class="widget-user-image roundcard-join">
                <span class="button-wrap">
                    <button class="button button-3d button-action button-circle button-jumbo">
                        <i class="fa fa-handshake-o"></i>
                    </button>
                </span>
                <!-- <img class="img-circle roundcard-image" src="/images/new.png" alt="User Avatar"> -->
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header roundcard-level">10x10</h5>
                            <span class="description-text">Size</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                        <div class="description-block">
                            <h5 class="description-header roundcard-num">1</h5>
                            <span class="description-text">Players</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <div class="description-block">
                            <h5 class="description-header">Jagged</h5>
                            <span class="description-text">Shape</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</div>