<dialog class="mdl-dialog" id="selectimage_dialog">
    <div class="mdl-dialog__content">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__content">
                <div class="mdl-grid" id="selectimage_table">
                </div>
            </div>
        </div>
    </div>
</dialog>

<div id="selectimage_template" style="display: none;">
    <div class="demo-card-image mdl-card mdl-shadow--16dp mdl-card--border">
        <div class="mdl-card__media">
        </div>
    </div>
</div>

<script type="text/javascript">
    var puzzleImageSrcList = new Array();
    puzzleImageSrcList.push("images/starter.png");
    puzzleImageSrcList.push("images/minions5x5.jpg");
    puzzleImageSrcList.push("images/2minions5x5.jpg");
    puzzleImageSrcList.push("images/3minions5x5.jpg");
    puzzleImageSrcList.push("images/4minions5x5.jpg");
    puzzleImageSrcList.push("images/5minions5x5.jpg");
    puzzleImageSrcList.push("images/6minions5x5.jpg");
    puzzleImageSrcList.push("images/7minons5x8.jpg");
    puzzleImageSrcList.push("images/8minons5x8.jpg");
    
    puzzleImageSrcList.push("images/keyboard8x8.jpg");
    // puzzleImageSrcList.push("images/pencil_thumb.jpg");
    // puzzleImageSrcList.push("images/pencil2_thumb.jpg");
    // puzzleImageSrcList.push("images/pencil3_thumb.jpg");
    puzzleImageSrcList.push("images/funny5x5.jpg");
    puzzleImageSrcList.push("images/snow10x10.jpg");
    puzzleImageSrcList.push("images/oranges5x7.jpg");            
    puzzleImageSrcList.push("images/china5x5.jpg");
    puzzleImageSrcList.push("images/coco10x10.jpg");
    puzzleImageSrcList.push("images/2coco5x5.jpg");
    puzzleImageSrcList.push("images/coco5x5.jpg");
    puzzleImageSrcList.push("images/diamonds10x10.jpg");
    
</script>