<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col"></div>
</div>
    <script>
        r(function () {
            var notification = document.querySelector('#toast');
            var msg='<%- message %>';
            if (msg == null || msg == undefined || msg == '') {
                notification.MaterialSnackbar.showSnackbar(
                    {
                        message: 'You are now on <%- title %>'
                    }
                );
            }else{
                notification.MaterialSnackbar.showSnackbar(
                    {
                        message: msg
                    }
                );
            }
        });
        function r(f) { /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f() }
    </script>