<div class="charms mdl-shadow--8dp" draggable="true">
        <!-- <button type="button" id="show-user" class="user material-icons md-48 mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            </button> -->
        <img width="25" height="25" id="show-user" src="images/placeholder.jpg" class="user" />
        <img width="25" height="25" src="images/help.png" class="help" />
        <img width="25" height="25" src="images/zoomout.png" class="zoomOut" />
        <img width="25" height="25" src="images/zoomin.png" class="zoomIn" />
        <img width="25" height="25" src="images/restart.png" class="restart" />
        <img width="25" height="25" id="show-settings" src="images/settings.png" class="settings" />
 </div>