<!-- Video Page 1 -->
<% include header2.html %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Video Demo
      <small>A video showing how the crowd work on the jigsaw puzzle.</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"> <i class="fa fa-dashboard"></i> CJP </a>
      </li>
      <li class="active">Working Scene</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <video width="960" height="540" controls>
      <!-- public/video/ -->
      <source src="./video/WorkingScene.mp4" type="video/mp4" />
    </video>
  </section>
</div>
<% include footer2.html %>
