
.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.fireworks {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.mdl-card {
  height: 475px;
}

.newround-card {
  background-color: rgba(200, 200, 200, 0.4);
  border-style: dashed;
  border-width: thick;
  border-color: rgba(200, 200, 200, 0.5);
}

.newround-card > .mdl-card__title {
  color: rgba(50, 50, 50, 0.5);
  position: relative;
  height: 52%;
  padding-left: 42px;
}

#newround_image_wrap{
  width:100%;
  height:0px;
  padding-bottom:100%;
  position:relative;
}

#newround_image{
  height:100%;
  position:absolute;
}

#newround_image_button{
  width: 100%;
}

#newround_table{
  width: 100%;
}

#newround_num_area{
  width: 100%;
}

#newround_num_text{
  position: relative;
  left: 1%;
  color: #000;
}

#newround_num{
  position: relative;
  left: 37%;
  color: #000;
}

#newround_number_slider{
  width: 100%;
}

.mdl-card__media{
  background-color: white;
}


.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}
.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.article-image {
  width: 100%;
  max-height: 320px; 
}



.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}


.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}


.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mdl-card__supporting-text{
  font-size: 20px;
}


.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  line-height: 256px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}

#selectimage_dialog{
  width: 100%;
  height: 100%;
  position: fixed;
}

#showimage_dialog{
  width: 70%;
}


.cancel_button{
  color: white;  
  background-color: rgba(255, 0, 0, 0.863);
}

#roundcard_template{
  display: none;
}

footer {
  /* background-image: url(images/footer-background.png); */
  background-size: cover;
}

.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px; }
  .mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    font-size: 2.5rem; }
  .mdl-dialog__actions {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mdl-dialog__actions > * {
      margin-right: 8px;
      height: 36px; }
      .mdl-dialog__actions > *:first-child {
        margin-right: 0; }
    .mdl-dialog__actions--full-width {
      padding: 0 0 8px 0; }
      .mdl-dialog__actions--full-width > * {
        height: 48px;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        padding-right: 16px;
        margin-right: 0;
        text-align: right; }
  .mdl-dialog__content {
    padding: 20px 24px 24px 24px;
    color: rgba(0,0,0, 0.54); }

#rounddetail_table{
  position: relative;
  width: 100%;
}

#rounddetail_progress{
  background-color: rgb(0, 125, 100);
}

#players_list {
  /*display: none;*/
}


.meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  margin: 60px 0 20px 0; /* Just for demo spacing */
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

#select_img_div {
  width:225px;
}

.modal-dialog {
  width: 256px;
    top: 10%;
}

.rounddetail_modal{
  top:30%;
}
