body 
{
    background-color: #fff;
    overflow: hidden;  
    margin: 0;     
}



.canvas
{
    overflow: hidden;    
    position: absolute;
    /* top: 10px;
    right:10px; 
    left:10px; 
     bottom: 10px;  
    /* */  
    /*border: 2px dashed #000;*/
}

canvas[resize]{
    width: 100%;
    height: 100%;
}

.puzzle-image
{
    overflow: hidden;   
    position: absolute;
    left: 50%;
    top: 50%;
}


/*.zoomIn,*/
/*.zoomOut,*/
/*.restart,*/
/*.quit,*/
/*.returnCenter*/
/*{*/
    /*z-index: 100;*/
    /*position: absolute;*/
    /*opacity: 1.0 ;*/
    /*cursor: pointer;*/
/*}*/


/*.quit.hover,*/
/*.zoomIn:hover,*/
/*.zoomOut:hover,*/
/*.returnCenter:hover,*/
/*.restart.hover*/
/*{*/
    /*opacity: 1.0;*/
/*}*/


/*.zoomIn*/
/*{*/
    /*margin: 60px 0 0 50px;*/
/*}*/


/*.zoomOut*/
/*{*/
    /*margin: 120px 0 0 50px;*/
/*}*/

/*.restart*/
/*{*/
    /*margin: 180px 0 0 50px;*/
/*}*/

/*.quit*/
/*{*/
    /*margin: 240px 0 0 50px;*/
/*}*/

/*.returnCenter*/
/*{*/
    /*margin: 300px 0 0 50px;*/
/*}*/



.info{
    position: absolute;
	right: 20px;
	bottom: 20px;
    /* border:1px dashed #000; */
    display: block;
    background-color:#f0f3f9;
}

.mode{
    position: absolute;
    right: 20px;
    top: 40px;
}


#steps_chip{
    width:100px;
}

#timer_chip{
    width:100px;
}

#undo_help{
    position: fixed;
    top: 20px;
    right: 20px;
}

#quit_menu{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#addon_menu{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.menu_png img{
    background-color: rgba(200, 200, 200, 0);
    height: 75px;
    width: 75px;
    border-style: dashed;
    border-width: thick;
    border-color: rgba(200, 200, 200, 0.5);
}


.demo-layout-transparent .mdl-layout__drawer-button {
  color: black;
}

#drawer{
    width:135px;
}

/*#drag-mode-button{*/
    /*width:15px;*/
    /*margin: 20px 0 0 0px;*/
/*}*/

/*#myselect{*/
    /*width:125px;*/
    /*margin: 345px 0 0 0px;*/
    /*font-size: 10px;*/
/*}*/

/* .progress{
    position: fixed;
  bottom: 0;
  margin-bottom: 40px;
} */

.mask{
    /* position:fixed;
    width:100%;
    height:100%; */
    float: none;  
    display: block;  
    margin: auto; 
}

#button_group{
    height: 5%;
    width: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
}