body 
{
    background-color: #fff;
    overflow: hidden;  
    margin: 0;     
}

.puzzle-image
{
    overflow: hidden;   
    position: absolute;
    left: 50%;
    top: 50%;
}


.info{
    position: absolute;
	right: 20px;
	bottom: 20px;
    /* border:1px dashed #000; */
    display: block;
    background-color:#f0f3f9;
}

.mode{
    position: absolute;
    right: 20px;
    top: 40px;
}


#steps_chip{
    width:100px;
}

#timer_chip{
    width:100px;
}

#undo_help{
    position: fixed;
    top: 20px;
    right: 20px;
}

#quit_menu{
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#addon_menu{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#guess_menu{
    position: fixed;
    top: 30%;
    right: 20px;
}

#share_menu{
    position: fixed;
    top: 60%;
    right: 20px;
}

.menu_png img{
    background-color: rgba(200, 200, 200, 0);
    height: 75px;
    width: 75px;
}


.demo-layout-transparent .mdl-layout__drawer-button {
  color: black;
}

#drawer{
    width:135px;
}


.mask{
    /* position:fixed;
    width:100%;
    height:100%; */
    float: none;  
    display: block;  
    margin: auto; 
}

#button_group{
    position: absolute;
    top: 20px;
    left: 20px;
}

#timer_wrap {
    position: fixed;
    top: 30px;
    left: 25px;
}

#timer{
    font-size: 40px;
}