body 
{
    background-color: #fff;
    overflow: hidden;  
    margin: 0;     
}



.canvas
{
    overflow: hidden;    
    position: absolute;
    margin: 20px;  
    /* top: 10px;
    right:10px; 
    left:10px; 
     bottom: 10px;  
    /* */  
    border: 2px dashed #000;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

.puzzle-image
{
    overflow: hidden;   
    position: absolute;
    left: 50%;
    top: 50%;
}


.zoomIn,
.zoomOut,
.help,
.restart,
.settings,
.user
{
    z-index: 100;
    position: absolute;
    opacity: 1.0 ;
    cursor: pointer;
}


#progress{
    position: absolute;
    left: 765px;
    bottom: 48px;
}
#percentage{
    position: absolute;
    left: 700px;
    bottom: 32px;
}

.charms
{
    overflow: hidden;   
    background: #f0f3f9;
    /*opacity: 0.75;*/
    position: absolute;
    left: 10px;
    bottom : 10px;
    width: 325px;
    height: 45px;  
}
.help:hover,
.user.hover,
.zoomIn:hover,
.zoomOut:hover,
.restart.hover,
.settings.hover
{
    opacity: 1.0;
}

.user
{
    margin: 10px 0  0 25px;
}

.help
{
    margin:10px 0 0 75px;
}

.zoomIn
{
    margin: 10px 0 0 125px;
}


.zoomOut
{
    margin: 10px 0 0 175px;
}

.restart
{
    margin: 10px 0 0 225px;
}

.settings
{
    margin: 10px 0 0 275px;
}


.info{
    position: absolute;
	right: 20px;
	bottom: 20px;
    /* border:1px dashed #000; */
    display: block;
    background-color:#f0f3f9;
}

.mode{
    position: absolute;
    right: 20px;
    top: 40px;
}


.mdl-switch{
    display:inline;
    margin-left: 10px;
    margin-right: 10px;   
}

