body {
  padding: 10px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
  background: url('/images/index2.gif');
  background-size: 100% 200%;
}

a {
  color: #00B7FF;
}

.fireworks {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.username {
  text-align: center;
}

/* Background page */
.page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/index_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* background-color: #0288D1; */
  /* background: radial-gradient(circle, #039BE5, #01579b); */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.mdl-card {
  width: 100%;
  height: 100%;
}

.mdl-card>.mdl-card__title,
.mdl-card__menu,
.mdl-card__supporting-text {
  color: #fff;
  width: 100%;
}

.mdl-list>.mdl-list__item {
  /* color: #0428f3; */
}

#customize {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
  color: white;
  background-color: rgba(255, 0, 0, 0.863);
}

/* .nav-drawer{
  width: 200px;
} */
#card_level1>.mdl-card__supporting-text {
  background: url('/images/thumbnail_1.jpg') center / cover;
}

#card_level2>.mdl-card__supporting-text {
  background: url('/images/thumbnail_2.jpg') center / cover;
}

#card_level3>.mdl-card__supporting-text {
  background: url('/images/thumbnail_3.jpg') center / cover;
}

#card_level4>.mdl-card__supporting-text {
  background: url('/images/thumbnail_4.jpg') center / cover;
}

#mypic {
  background: url('/images/medal.png')no-repeat;
  background-size: 100% 100%;
}

#player1 {
  position: relative;
  text-align: center;
  top: 50%;
  font-size: 30px;
  color: #ff7000;
}

#player2 {
  position: relative;
  left: 17%;
  top: 92.5%;
  font-size: 30px;
  color: #ddb3a6;

}

#player3 {
  position: relative;
  left: 65%;
  top: 85%;
  font-size: 30px;
  color: #ffb600;
}

.left2 {
  width: 20%;
  margin:0 auto; 
}

.ok_button{
  left: 35%;
  text-align: center;
}

.right2 {
  width: 40%;
  height: 500px;
  margin:0 auto; 
}

#badge {
  width: 100%;
}

#defeat_message {
  font-size: 22px;
  left: 50%;
  text-align: center;
  color: #c98608
}